body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b0083a;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Navbar */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main */
section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 3em 5em;
    justify-content: space-around;
}

.app, .mindfulness, .sono {
    padding: 2em;
    border: solid #4e545d;
    border-radius: 2%;
    width: 30%;
    margin: 1em;
    background-color: #e6f7ff;
    text-align: center;
}

.app img, .mindfulness img, .sono img {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1em;
}

.app h2 a, .mindfulness h2 a, .sono h2 a {
    color: #b0083a;
    transition: background-color 0.3s ease;
}

.txt1, .txt2, .txt3 {
    text-align: justify;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsividade para notebook */
@media (max-width: 1200px) {
    section {
        margin: 2em 3em;
    }

    .app, .mindfulness, .sono {
        width: 45%;
        margin: 1em auto;
    }
}

/* Responsividade para tablet */
@media (max-width: 768px) {
    header {
        padding: 0.5em 0;
    }

    nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    section {
        margin: 1em;
        flex-direction: column;
        align-items: center;
    }

    .app, .mindfulness, .sono {
        width: 80%;
        margin: 1em 0;
    }

    footer {
        font-size: 14px;
        padding: 5px 0;
    }
}

/* Responsividade para celular */
@media (max-width: 480px) {
    header {
        padding: 0.5em 0;
    }

    nav ul li {
        display: block;
        margin-right: 0;
    }

    section {
        margin: 1em;
    }

    .app, .mindfulness, .sono {
        width: 100%;
        margin: 1em 0;
    }

    .app img, .mindfulness img, .sono img {
        width: 70%;
    }

    footer {
        font-size: 0.8em;
        padding: 5px 0;
    }
}
