body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 5em;
}

header {
    background-color: #b0083a;
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Navbar */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main */
.dicas {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    border-radius: 2%;
}

.post_img {
    width: 50%;
    margin: 0 auto;
    display: block;
    border-radius: 5px; /* Opcional: Adiciona borda arredondada às imagens */
}

.post h2 {
    color: #b0083a;
    transition: background-color 0.3s ease;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.paragrafo {
    text-align: justify;
    padding: 10px;
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
    width: 80%;
    margin: 0 auto;
}

.pergunta {
    color: #b0083a;
}

/* Tabela */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 20px;
    background-color: #fff; /* Cor de fundo da tabela */
    border: 1px solid #ddd; /* Borda da tabela */
}

table th, table td {
    border: 1px solid #b0083a; /* Borda das células */
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
    color: #333; /* Cor do texto do cabeçalho */
    font-size: 14px;
}

table td {
    color: #666; /* Cor do texto das células */
    font-size: 12px;
}

.back-link {
    background-color: #5f6570;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 15px;
    font-size: 15px;
    text-align: center;
}

.back-link:hover {
    background-color: #4e545d; /* Cor de fundo ao passar o mouse */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsividade para desktop */
@media (max-width: 1200px) {
    .dicas {
        max-width: 100%;
        padding: 15px;
    }

    .post_img {
        width: 70%;
    }

    .paragrafo, .post h2 {
        width: 90%;
    }
}

/* Responsividade para tablet */
@media (max-width: 768px) {
    header {
        padding: 0.5em 0;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    .dicas {
        max-width: 100%;
        padding: 15px;
    }

    .post_img {
        width: 80%;
    }

    .paragrafo, .post h2 {
        width: 100%;
    }

    table {
        width: 100%;
        padding: 10px;
    }

    .back-link {
        padding: 8px 15px;
        font-size: 14px;
    }
}

/* Responsividade para celular */
@media (max-width: 480px) {
    header {
        padding: 0.5em 0;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    .dicas {
        max-width: 100%;
        padding: 10px;
    }

    .post {
        font-size: 18px;
    }

    .post_img {
        width: 90%;
    }

    .paragrafo, .post h2 {
        width: 100%;
    }

    table {
        width: 100%;
        padding: 5px;
    }

    table th, table td {
        font-size: 10px;
        padding: 5px;
    }

    .back-link {
        padding: 5px 10px;
        font-size: 12px;
    }

    footer {
        font-size: 12px;
        padding: 5px 0;
    }
}
